# Missing Values Exercises - Solution

**Name:** SAM THEOPHILUS  
**ID:** PUIT/24230006

This notebook contains the solutions to the exercises and mini-project for the Missing Values Tutorial.

In [3]:
import pandas as pd
import numpy as np
import os

# Load the dataset
df = pd.read_csv('sensor_log.csv')
df.head()

             timestamp  temperature_c  humidity_pct  voltage_v
0  2025-10-01 08:00:00           24.5          55.2       3.70
1  2025-10-01 08:00:10           24.7          55.0       3.69
2  2025-10-01 08:00:20           24.6          55.1        NaN
3  2025-10-01 08:00:30            NaN          54.9       3.68
4  2025-10-01 08:01:00           24.9          54.8       3.68

## Exercise 1
1. Create a new Series or DataFrame that shows only the rows where `temperature_c` is missing.
2. Do the same for `humidity_pct`.
3. Which column in this dataset has the highest percentage of missing values?

In [4]:
# 1. Rows where temperature_c is missing
missing_temp = df[df['temperature_c'].isna()]
print("Rows with missing temperature:")
display(missing_temp)

# 2. Rows where humidity_pct is missing
missing_humidity = df[df['humidity_pct'].isna()]
print("\nRows with missing humidity:")
display(missing_humidity)

# 3. Column with highest percentage of missing values
missing_percent = df.isna().mean() * 100
print("\nMissing value percentages:")
print(missing_percent)
print(f"\nColumn with highest missing percentage: {missing_percent.idxmax()}")

Rows with missing temperature:

             timestamp  temperature_c  humidity_pct  voltage_v
3  2025-10-01 08:00:30            NaN          54.9       3.68
8  2025-10-01 08:08:00            NaN          55.0       3.64

Rows with missing humidity:

             timestamp  temperature_c  humidity_pct  voltage_v
5  2025-10-01 08:02:15           25.1           NaN       3.67

Missing value percentages:
timestamp         0.0
temperature_c    20.0
humidity_pct     10.0
voltage_v        10.0
dtype: float64

Column with highest missing percentage: temperature_c

## Exercise 2
1. Create a copy of `df` called `df_median`.
2. For each numeric column, fill the missing values with the column median.
3. Compare the results of mean-based imputation (`df_mean`) and median-based imputation (`df_median`).

In [5]:
# 1. Create copy
df_median = df.copy()

# 2. Fill with median
numeric_cols = df_median.select_dtypes(include='number').columns
for col in numeric_cols:
    df_median[col] = df_median[col].fillna(df_median[col].median())

print("DataFrame with Median Imputation:")
display(df_median.head())

# Compare with Mean Imputation (recreating df_mean for comparison)
df_mean = df.copy()
for col in numeric_cols:
    df_mean[col] = df_mean[col].fillna(df_mean[col].mean())

print("\nComparison of Temperature Mean vs Median Imputation:")
print(f'Mean Imputation Mean: {df_mean['temperature_c'].mean():.2f}')
print(f'Median Imputation Mean: {df_median['temperature_c'].mean():.2f}')

DataFrame with Median Imputation:

             timestamp  temperature_c  humidity_pct  voltage_v
0  2025-10-01 08:00:00           24.5          55.2       3.70
1  2025-10-01 08:00:10           24.7          55.0       3.69
2  2025-10-01 08:00:20           24.6          55.1       3.67
3  2025-10-01 08:00:30           25.0          54.9       3.68
4  2025-10-01 08:01:00           24.9          54.8       3.68

Comparison of Temperature Mean vs Median Imputation:
Mean Imputation Mean: 25.07
Median Imputation Mean: 25.06

## Exercise 3
1. Create three new DataFrames from `df_ts`: one using forward fill, one using backward fill, and one using interpolation.
2. For a small time range, compare the values side by side.
3. Discuss with a partner: which method seems most reasonable for this sensor data and why?

In [6]:
# Prepare time-series dataframe
df_ts = df.copy()
df_ts['timestamp'] = pd.to_datetime(df_ts['timestamp'])
df_ts = df_ts.set_index('timestamp')

# 1. Create 3 DataFrames
df_ffill = df_ts.ffill()
df_bfill = df_ts.bfill()
df_interp = df_ts.interpolate(method='time')

# 2. Compare side by side (e.g., for temperature)
comparison = pd.DataFrame({
    'Original': df_ts['temperature_c'],
    'Forward Fill': df_ffill['temperature_c'],
    'Backward Fill': df_bfill['temperature_c'],
    'Interpolation': df_interp['temperature_c']
})

print("Comparison of Temperature Imputation Methods:")
display(comparison.head(10))

Comparison of Temperature Imputation Methods:

                     Original  Forward Fill  Backward Fill  Interpolation
timestamp
2025-10-01 08:00:00      24.5          24.5           24.5      24.500000
2025-10-01 08:00:10      24.7          24.7           24.7      24.700000
2025-10-01 08:00:20      24.6          24.6           24.6      24.600000
2025-10-01 08:00:30       NaN          24.6           24.9      24.675000
2025-10-01 08:01:00      24.9          24.9           24.9      24.900000
2025-10-01 08:02:15      25.1          25.1           25.1      25.100000
2025-10-01 08:03:00      25.3          25.3           25.3      25.300000
2025-10-01 08:05:30      25.5          25.5           25.5      25.500000
2025-10-01 08:08:00       NaN          25.5           26.0      25.777778
2025-10-01 08:10:00      26.0          26.0           26.0      26.000000

## Mini Project
1. Load `sensor_log.csv` into a new DataFrame.
2. Summarise missing values per column (counts and percentages).
3. Decide, with justification, which columns or rows (if any) you would drop.
4. Choose and apply an imputation strategy for the remaining missing values (for example, mean/median or forward fill).
5. Compare key summary statistics (mean, min, max) before and after imputation.
6. Write a short paragraph explaining which decisions you made and why they are reasonable for this dataset.

In [7]:
# 1. Load Data
df_mini = pd.read_csv('sensor_log.csv')

# 2. Summarise Missing Values
print("Missing Values Count:")
print(df_mini.isna().sum())
print("\nMissing Values Percentage:")
print((df_mini.isna().mean() * 100).round(2))

# 3. Decision on Dropping
# Justification: The dataset is very small (10 rows). Dropping any row would result in significant data loss (10-20%). 
# Therefore, we will NOT drop any rows or columns.

# 4. Apply Imputation Strategy
# Strategy: Since this is sensor data (time-series), Interpolation is likely the best method as it estimates values based on trends.
df_mini['timestamp'] = pd.to_datetime(df_mini['timestamp'])
df_mini = df_mini.set_index('timestamp')
df_clean = df_mini.interpolate(method='time')

# 5. Compare Summary Statistics
print("\nOriginal Statistics:")
display(df_mini.describe())
print("\nCleaned Statistics (Interpolation):")
display(df_clean.describe())

# 6. Export Results
# We will also export the results of other methods as requested by the user.
output_dir = 'cleaned_data'
os.makedirs(output_dir, exist_ok=True)

# Save Interpolated (Best Strategy)
df_clean.reset_index().to_csv(f'{output_dir}/sensor_log_interpolate.csv', index=False)

# Save others for reference
df_mini.ffill().reset_index().to_csv(f'{output_dir}/sensor_log_ffill.csv', index=False)
df_mini.bfill().reset_index().to_csv(f'{output_dir}/sensor_log_backfill.csv', index=False)

# Mean Imputation for reference
df_mean_ref = df_mini.copy()
for col in df_mean_ref.select_dtypes(include='number').columns:
    df_mean_ref[col] = df_mean_ref[col].fillna(df_mean_ref[col].mean())
df_mean_ref.reset_index().to_csv(f'{output_dir}/sensor_log_mean.csv', index=False)

print(f"\nAll cleaned datasets saved to {output_dir}/")

Missing Values Count:
timestamp        0
temperature_c    2
humidity_pct     1
voltage_v        1
dtype: int64

Missing Values Percentage:
timestamp         0.0
temperature_c    20.0
humidity_pct     10.0
voltage_v        10.0
dtype: float64

Original Statistics:

       temperature_c  humidity_pct  voltage_v
count       8.000000      9.000000   9.000000
mean       25.075000     54.966667   3.667778
std         0.509201      0.158114   0.023333
min        24.500000     54.700000   3.630000
25%        24.675000     54.900000   3.650000
50%        25.000000     55.000000   3.670000
75%        25.350000     55.100000   3.680000
max        26.000000     55.200000   3.700000

Cleaned Statistics (Interpolation):

       temperature_c  humidity_pct  voltage_v
count      10.000000     10.000000  10.000000
mean       25.105278     54.943750   3.669500
std         0.522784      0.165753   0.022663
min        24.500000     54.700000   3.630000
25%        24.681250     54.825000   3.655000
50%        25.000000     54.950000   3.675000
75%        25.450000     55.075000   3.683750
max        26.000000     55.200000   3.700000

All cleaned datasets saved to cleaned_data/